.button
  font-family: 'Neuzeit'
  height: 44px
  padding: 0 32px
  line-height: 45px
  border: 2px solid $color-orange
  display: inline-block
  @extend .typography-action-heavy
  background-color: transparent

.button-small
  font-family: 'Neuzeit'
  background: $color-orange
  height: 30px
  line-height: 31px
  @extend .typography-action
  display: inline-block
  border: none
  color: $color-white
  padding: 0 16px
