#sidebar
  margin-left: auto
  padding-top: 95px

.sidebar_section
  min-width: 272px

  h3
    @extend .typography-action
    margin-bottom: 13px

  .panel_contents
    border-top: 1px solid $color-grey-medium
    border-bottom: 1px solid $color-grey-medium
    padding: 24px 0

  label
    display: block
    margin-bottom: 17px

  .filter_string
    select
      margin-bottom: 12px

    input
      display: block
      padding: 8px 6px
      width: 100%

  input[type='text']
    border: 1px solid $color-grey-medium

  input.datepicker
    background: url('active_admin/datepicker/datepicker-input-icon.png') center right no-repeat
    width: 120px
    height: 30px
    padding: 0 8px

  .filter_form_field
    margin-bottom: 26px

  .filter_form .buttons
    input
      margin-right: 10px
    input, a
      @extend .button-small
    a
      background: $color-grey-medium

